<form ng-submit="!payment.model.hasChanges() || !payment.model.isValid() || payment.save()">
  <div class="row">
    <div class="col-md-2">
      <label for="name">Name</label>
    </div>
    <div class="col-md-2">
      <input id="name" ng-model="payment.model.paymentName" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="account">From Account</label>
    </div>
    <div class="col-md-2">
      <select id="account" name="account" ng-model="payment.model.fromAccount"
              ng-options="account as account.number for account in payment.accounts track by account.number" required>
        <option></option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="amount">Amount</label>
    </div>
    <div class="col-md-4">
      <input id="amount" ng-model="payment.model.amount" type="number" required>
      <span class="{{!payment.model.isValid() ? 'amountNok' : 'amountOk'}}" ng-show="payment.model.fromAccount">
        Available: {{payment.model.fromAccount.balance}} {{payment.model.fromAccount.currency}}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="phone">Phone Number</label>
    </div>
    <div class="col-md-2">
      <input id="phone" ng-model="payment.model.phoneNumber" type="tel" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="start">Start Date</label>
    </div>
    <div class="col-md-2">
      <input id="start" ng-model="payment.model.startDate" type="date">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="expiry">Expiry Date</label>
    </div>
    <div class="col-md-2">
      <input id="expiry" ng-model="payment.model.expDate" type="date" required>
    </div>
  </div>
  <button type="submit" class="btn btn-default" ng-disabled="!payment.model.hasChanges() || !payment.model.isValid()">
    Save
  </button>
</form>
